.visually-hidden {
  display: none;
}

.page-content {
  width: 100%;
  height: 100vh;

  background-color: #19191b;

  font-size: 18px;
  line-height: 48px;
  font-family: "Century Gothic", "Arial", sans-serif;
}

.page-illustation {
  width: 25%;
  background-image: url("../img/bg-bman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.page-content {
  width: 75%;
}

.page-container {
  display: flex;
  flex-direction: row;
}